**Q1. Create one variable containing following type of data:**

**(i)	string**

**(ii)	list**

**(iii)	float**

**(iv)	tuple**

**Answer:**

In [5]:
str = "Payal"
l= [1, 9, 7, 'abc']
f= 9.5
t = ( 1, 9, 7, 'abc')
print(type(str))
print(type(l))
print(type(f))
print(type(t))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

**Q2. Given are some following variables containing data:**

**(i)	var1 = ‘ ‘**

**(ii)	var2 = ‘[ DS , ML , Python]’**

**(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]**

**(iv)	var4 = 1.**


**What will be the data type of the above given variable**

**Answer:**

In [7]:
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1
print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

**Q3. Explain the use of the following operators using an example:**

(i)	/
(ii)	%
(iii)	//
(iv)	**

**Answer**
/ = It returns the quotient after dividing the first operand by the second operand  

% = It returns the reminder after dividing the first operand by the second operand.

// = if any of the numbers is float, it returns output in float. It is also known as Floor division because, if any number is negative, then the output will be floored.

** = it calculates the first operand's power to the second operand, it is an exponent operator.

In [9]:
a=98
b=4
print(a/b)
print(a%b)
print(a//b)
print(a**b)

24.5
2
24
92236816

**Q4.Create a list of length 10 of your choice containing multiple types of data. Using for loop print the  element and its data type**

In [21]:
l= [0,7,0.1, 67.9, "apple", "pie", 6**2, 8, "lol", 10]
for x in range(len(l)):
    print (l[x])
    print(type(l[x]))

0
<class 'int'>
7
<class 'int'>
0.1
<class 'float'>
67.9
<class 'float'>
apple
<class 'str'>
pie
<class 'str'>
36
<class 'int'>
8
<class 'int'>
lol
<class 'str'>
10
<class 'int'>

**Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many times it can be divisible**

In [44]:
A = int(input("Enter number A: "))
B = int(input("Enter number B: "))

count = 0

while A % B == 0:
  A = A // B
  A= A
  count += 1

if count > 0:
  print(f" It is divisible by {B} and it can be divided {count} times")
else:
  print(f"{A} is not divisible by {B}")

Enter number A: 99990909
Enter number B: 3
 It is divisible by 3 and it can be divided 3 times

**Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is divisible by 3 or not.**

In [33]:
integer=[1,2,3,4,5,6,7,8,9,10, 11, 12, 13, 14, 14, 15, 16, 17 , 19 ,30 , 55, 46, 98, 76, 44]
for i in integer:
  if i % 3 == 0:
      print(f"{i} is divisible by 3.")
  else:
      print(f"{i} is not divisible by 3.")

1 is not divisible by 3.
2 is not divisible by 3.
3 is divisible by 3.
4 is not divisible by 3.
5 is not divisible by 3.
6 is divisible by 3.
7 is not divisible by 3.
8 is not divisible by 3.
9 is divisible by 3.
10 is not divisible by 3.
11 is not divisible by 3.
12 is divisible by 3.
13 is not divisible by 3.
14 is not divisible by 3.
14 is not divisible by 3.
15 is divisible by 3.
16 is not divisible by 3.
17 is not divisible by 3.
19 is not divisible by 3.
30 is divisible by 3.
55 is not divisible by 3.
46 is not divisible by 3.
98 is not divisible by 3.
76 is not divisible by 3.
44 is not divisible by 3.

**Q7. What do you understand about mutable and immutable data types? Give examples for both showing this property.**

 A mutable object can be changed after it's created, and an immutable object can't. Strings and tuples are immutable, while lists, dictionaries, and sets are mutable.

In [47]:
list = [1, 2, 3]
print(list)
list[0] = 100
print(list)

dict = {'a': 1, 'b': 2}
dict['a'] = 100
dict['c'] = 3
print(dict)

[1, 2, 3]
[100, 2, 3]
{'a': 100, 'b': 2, 'c': 3}

In [50]:
tuple = (1, 2, 3)
new_tuple = tuple + (4,)
print(tuple)
print(new_tuple)

string = "Hello"
new_string = string + " World"
print(string)
print(new_string)

(1, 2, 3)
(1, 2, 3, 4)
Hello
Hello World