**Q1. How do you comment code in Python? What are the different types of comments?**

**Answer:** Comments in Python are identified with a hash symbol, #, and extend to the end of the line. Hash characters in a string are not considered comments, however. . Comments are ignored by the Python interpreter and are used to make the code more understandable for other developers or for your future self. Python supports two types of comments:S

Single-line comments: Single-line comments are used to add comments on a single line in your code. In Python, single-line comments start with the # character. Everything after the # on the same line is considered a comment and is ignored by the interpreter.

Multi-line comments (Docstrings): Multi-line comments, also known as docstrings, are used to write longer comments spanning multiple lines. They are typically used to provide documentation for functions, classes, or modules. In Python, you can create multi-line comments using triple quotes (""" or ''') at the beginning and end of the comment block.

In [52]:
# This is a single-line comment
print("Hello, World!")

"""
This is a multi-line comment
Here you can explain the purpose, usage,
 and expected inputs/outputs of
 the function.
"""
a=5
b=7
print(a+b)

Hello, World!
12

**Q2. What are variables in Python? How do you declare and assign values to variables?**

**Answer:**
Variables are used to store and refer to data values in the memory. They act as placeholders for data and provide a way to access and manipulate that data throughout the program. Variables can store various types of data, such as numbers, strings, lists, dictionaries, and more.

To declare and assign values to variables in Python, you simply need to use the assignment operator (=). The basic syntax for declaring a variable and assigning a value to it is as follows:
variable_name = value

In [53]:
# example
var1 = ''
var2 = '[ DS , ML , Python]'
var3 = [ 'DS' , 'ML' , 'Python' ]
var4 = 1

**Q3. How do you convert one data type to another in Python?**

**Answer**
we can  convert one data type to another in Python type conversion. Type conversion is the process of converting data of one type to another. For example: converting int data to str.

There are two types of type conversion in Python.

1. **Implicit Conversion - automatic type conversion**

2. **Explicit Conversion - manual type conversion**

**Python Implicit Type Conversion** - In certain situations, Python automatically converts one data type to another. This is known as implicit type conversion.Python always converts smaller data types to larger data types to avoid the loss of data.

**Explicit Type Conversion** - In Explicit Type Conversion, users convert the data type of an object to required data type.We use the built-in functions like int(), float(), str(), etc to perform explicit type conversion. This type of conversion is also called typecasting because the user casts (changes) the data type of the objects

In [6]:
#Implicit
number1 = 123
print("Data Type:",type(number1))
number2 = 1.23
print("Data Type:",type(number2))
new_number = number1 + number2
print("Value:",new_number)
print("Data Type:",type(new_number))

#Explicit
string = '12'
integer = 23
print("Data type of num_string before Type Casting:",type(string))
string = int(string)
print("Data type of string after Type Casting:",type(string))
sum = integer + string
print("Sum:",sum)
print("Data type of sum:",type(sum))

Data Type: <class 'int'>
Data Type: <class 'float'>
Value: 124.23
Data Type: <class 'float'>
Data type of num_string before Type Casting: <class 'str'>
Data type of string after Type Casting: <class 'int'>
Sum: 35
Data type of sum: <class 'int'>

**Q4. How do you write and execute a Python script from the command line?**

**Answer**
Writing and executing a Python script from the command line is a straightforward process. Here's a step-by-step guide to do it:

Open a text editor (such as Notepad, VSCode, Sublime Text, etc.) and create a

1. Open a text editor (such as Notepad, VSCode, Sublime Text, etc.) and create a new file.
2. Write your Python code in the file and save it with a .py extension. For example, you can create a file named myscript.py and add your Python code to it.  
**Example myscript.py:**
python print("Hello, World!")
3. Open a command prompt or terminal on your computer.
4. Navigate to the directory where you saved your Python script using the cd command (change directory).
5. Once you are in the correct directory, you can execute the Python script by typing python followed by the name of your script file.

6. For example, to execute myscript.py, you would type: python myscript.py

7. Press the Enter key to execute the script. The output of your Python code will be displayed in the command prompt or terminal.

**Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].**

In [1]:
my_list = [1, 2, 3, 4, 5]
sub_list = my_list[1:3]
print(sub_list)

[2, 3]

**Q6.What is a complex number in mathematics, and how is it represented in Python?**

**Answer:** A complex number is a number of the form a + bi, where a and b are real numbers, and i is the imaginary unit, defined as the square root of -1. The real part of the complex number is represented by a, and the imaginary part is represented by b. The imaginary unit i satisfies the property i^2 = -1.In Python, complex numbers are represented using the complex data type.

In [3]:
z1 = complex(2, 3)
z2 = 4 + 5j
real_part = z1.real
imaginary_part = z1.imag
z3 = z1 + z2
z4 = z1 - z2
z5 = z1 * z2
z6 = z1 / z2

print(z3)
print(z4)
print(z5)
print(z6)

(6+8j)
(-2-2j)
(-7+22j)
(0.5609756097560976+0.0487804878048781j)

**Q7. What is the correct way to declare a variable named age and assign the value 25 to it?**

**Answer**

In [ ]:
age=25

**Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?**

**Answer**

In [4]:
price=9.99
print(type(price))

<class 'float'>

**Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?**

**Answer:**

In [5]:
name="Payal Rajput"
print(name)

Payal Rajput

**Q10. Given the string "Hello, World!", extract the substring "World".**

**Answer:**

In [6]:
string="Hello, World!"
substring = string[7:12]
print(substring)

World

**Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.**

**Answer:**

In [ ]:
is_student=True